@import "variables";
@import "mixins";

footer{
  background-color: $grey;
  z-index: 150;
  height: 220px;
  position: relative;
  -webkit-clip-path: polygon(0 55%, 100% 0, 100% 100%, 0% 100%);
  clip-path: polygon(0 55%, 100% 0, 100% 100%, 0% 100%);

  @include mQ(1000px) {
    position: static;
    top: 0;
    height: 50px;
    width: 100%;
    padding: 0;
    margin: 0;
  }
}
