@import "variables";
@import "mixins";

header{
  background:
    url('/images/headBackground.jpg')
    top center
    no-repeat;
  background-size: cover;
  min-height: 550px;
  @include sectionShadow;
  h1{
    color: #222;
    padding: 30px;
    position: relative;
    top: 50px;
  }
}

#navi{
  background-color: $schizo;
  .active{
    border-color: #fff;
    color: #fff;
  }
  a{
    color: $imdur;
    font-weight: 700;
    font-size: 19px;
    text-transform: uppercase;
    transition: 0.5s;
    &:hover {
      border-color: #fff;
      color: #fff;
    }
  }
  img{
    opacity: 0.98;
  }

}
