@import "variables";
@import "mixins";

header{
  background:
    url('/images/headBackground.jpg')
    top center
    no-repeat;
  background-size: cover;
  min-height: 550px;
  @include sectionShadow;
  @include mQ(1000px) {
    min-height: 300px;
  }
}

#navi{
  background-color: $schizo;
  .active{
    border-color: #fff;
    color: #fff;
  }
  a{
    color: $imdur;
    font-weight: 700;
    font-size: 1.4em;
    text-transform: uppercase;
    transition: 0.5s;
    &:hover {
      border-color: #fff;
      color: #fff;
    }
  }
  img{
    opacity: 0.98;

  }
  .mob-menu{
    display: none;
  }
  .mob-item{
    display: block;
  }
  @include mQ(767px) {
    .logo-img{
      display: none;
    }
    .mob-item{
      display: none;
      text-align: left;
    }
    .mob-menu{
      img{
        width: 20px;
        float: right;
      }
      display: block;
      text-align: left;
    }
  };
}
