@import "variables";
@import "mixins";
* {
  box-sizing: border-box;
}
body {
  background: url('/images/crossword.png') repeat;
  font-size: 62.5% !important;
  max-width: 100vw;
}

.shadow {
  @include boxShadow;
}
.container {
  height: 100%;
}
