@import "variables";
@import "mixins";

#section-two {
  color: red;
  height: auto;
  .grid{
    width: 100%;
    margin: 0 auto;
  }
  .container{
    height: auto;
  }
  h2 {
    text-align: center;
    font-size: 6.9em;
    color: $grey;
    @include textShadow;
    margin-top: 30px;
  }

  .column{
    text-align: center;
    margin-top: 20px;
    p{
      text-align: justify;
    }
  }
  .step{
    text-transform: uppercase;
    color: $grey;
    @include textShadow;
    font-weight: 700;
    font-size: 3em;
  }
  hr{
    width: 14%;
    height: 8px;
    color: $disconnect;
    background-color: $disconnect;
    margin-top: 25px;
  }

  p{
    color: $grey;
    font-size: 1.8em;
    margin-top: 10px;
  }

  .download{
    width: 40%;
    margin: 20px auto 25px auto;
    &:hover {
      cursor:pointer;
    }
  }
  .desk-hidden{
    display: none !important;
  }
}
#section-two{
  @include mQ(1000px, 767px) {
    hr{
      width: 20%;
    }
    h2{
      font-size: 6.4em;
    }
    .download{
      width: 50%;
      margin-top: 10px;
    }
  }
  @include mQ(766px, 610px) {
    hr{
      width: 20%;
    }
    h2{
      font-size: 5.2em;
    }
    .download{
      width: 50%;
      margin-top: 0;
    }
    .column {
      p {
        display: none;
      }
    }
  }
  @include mQ(610px) {
    h2{
      @include headerMobileText;
      margin: 0;
    }
    height: auto;
    .container{
      padding: 0;
      margin: 0 !important;
      width: 100%;
    }
    .item{
      float: left;
      width: (100%/3);
      margin: 17px auto;
      img{
        width: 90px !important;
      }
    }
    .mob-hidden{
      display: none;
    }
    .cards{
      width: 95%;
      margin: 0 auto;
      margin-top: .875em;
    }
    .desk-hidden{
      display: block !important;

    }
    .download{
      width: 80%;
      margin: 20px auto 30px auto;
    }
  }
}
