@import "variables";
@import "mixins";

#section-pause {
  background: url('/images/osso.jpg') no-repeat;
  background-position: center center;
  background-size: cover;
  height: 500px;
  @include sectionShadow;
  @include mQ(1000px) {
    height: 350px;
  }
}
