@import "variables";
@import "mixins";
#module-two {
  top: -100px;
  @include statsModSize("right");
  @include boxShadow;
  color: $imdur;
  left: 72%;
  z-index: 80;
}

#section-three{
  height: 920px;

  .list {
    padding: 50px 0;
  }

  h3{
    padding-top: 200px;
    color: white;
    text-align: center;
  }

  .container {
    height: 0;
  }
}
