@import "variables";
@import "mixins";
#module-two {
  top: -100px;
  @include statsModSize("right");
  @include boxShadow;
  color: $imdur;
  left: 72%;
  z-index: 80;
  overflow-y: scroll;
}

#section-three{
  height: 920px;
  .list {
    margin-top: 10px;
    .item{
      border-top: solid 1px rgba(246,246,246, 0.7);
      &:last-child{
        border-bottom: solid 1px rgba(246,246,246, 0.7);;
      }
      &:hover{
        background-color: lighten($disconnect, 4);
      }
    }
    img{
      padding-top: 4px;
      float: left;
    }
    .content{
      float: left;
      width: 85%;
      font-size: 1.5em;
    }
    .header{
      color: $imdur !important;
      @include textShadow;
    }
  }
  h3{
    padding: 65px 0 0 10px;
    color: white;
    font-size: 3em;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 0;
  }
  h4{
    padding: 40px;
    font-size: 1.8em;
    text-align: center;
  }

  .container {
    height: 0;
  }
  .google-map{
    height: 500px;
    box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.9);
  }
  .google-map-element{
    height: 500px;
  }
}

#section-three {
  @include mQ(1100px, 800px) {
    #module-two {
      height: 500px;
      left: 60%;
      padding: 0;
      margin: 0;
    }
  }
  @include mQ(799px, 610px) {
    .container{
      width: 100%;
      margin: 0 !important;
    }
    #module-two{
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
      position: static;
      top: 0;
      height: 400px;
      max-width: 100%;
      padding: 0;
      margin: 0;
      h3 {
        padding-top: 15px;
      }
    }
    .google-map{
      height: 300px;
    }
    .google-map-element{
      height: 300px;
    }

  }
  @include mQ(609px) {
    .container{
      width: 100%;
      margin: 0 !important;
    }
    #module-two{
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
      position: static;
      top: 0;
      height: 300px;
      max-width: 100%;
      padding: 0;
      margin: 0;
      h3 {
        padding-top: 15px;
      }
    }
    .google-map{
      height: 320px;
    }
    .google-map-element{
      height: 320px;
    }
  }
}
